<div id="comfemale" class="col-md-6" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
</script>
